In [1]:
import os
import sys
import pandas as pd
import numpy as np
import glob

In [2]:
def filter_files_latest_version(all_files):
    d ={}
    #'rishabh_runs/neurips/knapsack/binary/ilploss/items_10/seed_2/version_0/training_stats.json'
    seed_list = ['seed_0'] #,'seed_1','seed_2']
    for f in all_files:
        k = os.sep.join(f.split(os.sep)[:-2])
        v = int(f.split(os.sep)[-2].split('_')[1])
        if k not in d:
            d[k] = (v,f)
        elif v > d[k][0]:
            d[k] = (v,f)
            print("replacing",k,v,f)
    #
    #new_list = [f for v,f in d.values()]
    #r_list =[]
    return [f for v,f in d.values() if f.split(os.sep)[-3] in seed_list]
    

def extract_short_key_sudoku(row):
    big_key = row[gkey]
    return ('.'.join(big_key.split('/')[-2:]))

def extract_short_key_rc(row):
    big_key = row[gkey]
    return ('.'.join(big_key.split('/')[2:]))

def extract_short_key_kp(row):
    big_key = row[gkey]
    return ('.'.join(big_key.split('/')[3:]))


def add_grpby_columns_rc(tab):
    new_cols = tab[gkey].str.split('/', expand=True)
    new_cols = new_cols.iloc[:,2:]
    new_colnames = ['data','method','num_cons','seed','ver']
    new_cols.columns = new_colnames
    tab = pd.concat([tab,new_cols], axis=1)
    tab[skey] = tab.apply(extract_short_key_rc, axis=1)
    return tab

def add_grpby_columns_kp(tab):
    #['runs', 'neurips', 'kp', 'ilploss', 'kp4', 'vggasbb_splinit', 'version_0']
    new_cols = tab[gkey].str.split('/', expand=True)
    new_cols = new_cols.iloc[:,3:]
    new_colnames = ['method','data','spl','ver']
    new_cols.columns = new_colnames
    tab = pd.concat([tab,new_cols], axis=1)
    tab[skey] = tab.apply(extract_short_key_kp, axis=1)
    return tab

def add_grpby_columns_ks(tab):
    #['runs', 'neurips', 'kp', 'ilploss', 'kp4', 'vggasbb_splinit', 'version_0']
    #'rishabh_runs/neurips/knapsack/binary/ilploss/items_10/seed_0/version_0'
    new_cols = tab[gkey].str.split('/', expand=True)
    new_cols = new_cols.iloc[:,4:]
    new_colnames = ['method','data','seed','ver']
    new_cols.columns = new_colnames
    tab = pd.concat([tab,new_cols], axis=1)
    tab[skey] = tab.apply(extract_short_key_kp, axis=1)
    return tab



exp_dir_list_sudoku = ["runs/neurips/sudoku/symbolic"]

grpby_keys_rc = ['data','method','num_cons','ver']
grp_over_rc = ['seed']
#exp_dir_list_rc = ["runs/neurips/binary_random",'runs/neurips/dense_random']
exp_dir_list_rc = ["runs/neurips/binary_random",
                   "runs/neurips/binary_random_50pct",
                   'runs/neurips/dense_random',
                   'runs/neurips/dense_random_50pct']
#exp_dir_list_rc = ["runs/neurips/binary_random_50pct"]
es_col_rc = 'val/acc/idv'
expected_count_rc = 10


expected_count_kp = 1
exp_dir_list_kp = ["runs/neurips/kp/"]
es_col_kp = 'val/acc/idv'
grpby_keys_kp = ['method','data','spl','ver']
grp_over_kp = ['data']


#'rishabh_runs/neurips/knapsack/binary/ilploss/items_10/seed_0/version_0'
#new_colnames = ['method','data','seed','ver']

exp_dir_list_ks = ['rishabh_runs/neurips/knapsack/binary']
grpby_keys_ks = ['data','method']
grp_over_ks = ['seed']
es_col_ks = 'val/acc/all'
expected_count_ks = 10

json_filename = 'training_stats.json'

In [3]:
all_files[0]

NameError: name 'all_files' is not defined

In [4]:
test_only_list = [0,1]
#version_list =  ['version_0', 'version_1']
#version_list =  ['version_0']
event_list = ['test_epoch_end']
version_list =[]

## Input:

In [5]:
dataset= 'ks'

In [6]:
pwd

'/home/yatin/softlinks/hpchome/phd/comboptnet/neurips_sudoku/misc/notebooks'

In [7]:
pwd

'/home/yatin/softlinks/hpchome/phd/comboptnet/neurips_sudoku/misc/notebooks'

In [8]:
base_dir ="../.."
os.chdir(base_dir)

In [9]:
gkey = 'log_dir'

total_train_time = 'total_time/train'
total_val_time = 'total_time/val'
epoch_val_time = 'epoch_time/val'
epoch_test_time  = 'epoch_time/test'
net_train_time = 'net_time/train'
val_timeout = 'val/status/time_limit'
val_optimal = 'val/status/optimal'
test_timeout = 'test/status/time_limit'
test_optimal = 'test/status/optimal'
val_acc = 'val/acc/all'
test_acc = 'test/acc/all'
event = 'event'
#derived columns:
val_count = 'val_count'
test_count = 'test_count'
skey = 'skey'
val_acc_num = 'val/acc/num'
test_acc_num = 'test/acc/num'
test_acc_pre = 'test/acc/pre'
relevant_cols = [skey,event,net_train_time,total_train_time,total_val_time,epoch_test_time,
                 val_timeout, test_timeout, val_count, test_count, 
                 val_acc, test_acc]

time_cols = [net_train_time,total_train_time,total_val_time,epoch_test_time]

In [10]:
if dataset== 'rc':
    add_grpby_columns = add_grpby_columns_rc
    grpby_keys = grpby_keys_rc
    exp_dir_list = exp_dir_list_rc
    expected_count = expected_count_rc
    grp_over = grp_over_rc
    es_col = es_col_rc
    stat_cols = [net_train_time,total_train_time,total_val_time,epoch_test_time,val_acc,test_acc]
    val_metric = val_acc
    test_metric = test_acc
    filter_files = lambda x: x

elif dataset=='kp':
    
    exp_dir_list = exp_dir_list_kp
    add_grpby_columns = add_grpby_columns_kp
    expected_count = expected_count_kp
    es_col = es_col_kp
    grpby_keys = grpby_keys_kp
    grp_over = grp_over_kp
    stat_cols = [net_train_time,total_train_time,total_val_time,epoch_test_time,val_acc,test_acc, val_acc_num, test_acc_num, test_acc_pre]
    val_metric = val_acc_num
    test_metric = test_acc_num
    filter_files = lambda x: x

    
elif dataset == 'ks':
    exp_dir_list = exp_dir_list_ks
    add_grpby_columns = add_grpby_columns_ks
    expected_count = expected_count_ks
    es_col = es_col_ks
    grpby_keys = grpby_keys_ks
    grp_over = grp_over_ks
    stat_cols = [net_train_time,total_train_time,total_val_time,epoch_test_time,val_acc,test_acc]
    val_metric = val_acc
    test_metric = test_acc
    filter_files = filter_files_latest_version
    
else:
    raise

In [11]:
dataset

'ks'

In [12]:
exp_dir_list

['rishabh_runs/neurips/knapsack/binary']

In [13]:
all_files = []
for exp_dir in exp_dir_list:
    for dirpath, dirnames, filenames in os.walk(exp_dir, topdown= True):
        #print(dirpath, dirnames,filenames)
        to_skip = []
        for temp_ind, this_exp_dir in enumerate(dirnames):
            log_file = os.path.join(dirpath, this_exp_dir, json_filename)
            #print(log_file)
            if os.path.exists(log_file):
                all_files.append(log_file)
                to_skip.append(temp_ind)
            #
            #prune search
        #print("Skipping search in:",[dirnames[x] for x in to_skip])
        for temp_i in range( len(to_skip) - 1, -1, -1):
            del dirnames[to_skip[temp_i]]

In [14]:
len(all_files)

91

In [15]:
print("Fetched all desired file names.. now reading them..", len(all_files))

Fetched all desired file names.. now reading them.. 91

In [16]:
all_files_filtered = filter_files(all_files)

replacing rishabh_runs/neurips/knapsack/binary/comboptnet/items_10/seed_2 1 rishabh_runs/neurips/knapsack/binary/comboptnet/items_10/seed_2/version_1/training_stats.json
replacing rishabh_runs/neurips/knapsack/binary/comboptnet/items_10/seed_1 1 rishabh_runs/neurips/knapsack/binary/comboptnet/items_10/seed_1/version_1/training_stats.json
replacing rishabh_runs/neurips/knapsack/binary/comboptnet/items_10/seed_3 1 rishabh_runs/neurips/knapsack/binary/comboptnet/items_10/seed_3/version_1/training_stats.json
replacing rishabh_runs/neurips/knapsack/binary/comboptnet/items_15/seed_1 1 rishabh_runs/neurips/knapsack/binary/comboptnet/items_15/seed_1/version_1/training_stats.json
replacing rishabh_runs/neurips/knapsack/binary/comboptnet/items_10_orig/seed_2 1 rishabh_runs/neurips/knapsack/binary/comboptnet/items_10_orig/seed_2/version_1/training_stats.json
replacing rishabh_runs/neurips/knapsack/binary/comboptnet/items_10_orig/seed_1 2 rishabh_runs/neurips/knapsack/binary/comboptnet/items_10_orig/seed_1/version_2/training_stats.json

In [17]:
print("Fetched all desired file names.. now reading them..", len(all_files_filtered))

Fetched all desired file names.. now reading them.. 14

In [18]:
all_tables = []
for this_file in all_files_filtered:
    this_table = pd.read_json(this_file, orient = 'records',lines = True)
    this_table['logdir'] = os.path.dirname(this_file)
    all_tables.append(this_table)

tab = pd.concat(all_tables)

In [19]:
len(all_tables)

14

In [20]:
tab.shape

(2584, 22)

In [21]:
#tab.iloc[0]['log_dir'].split('/')

In [22]:
tab = add_grpby_columns(tab)

In [23]:
tab.reset_index(inplace=True,drop=True)

In [24]:
tab[net_train_time] = tab[total_train_time] - tab[total_val_time]

In [25]:
#extract short key
for col in [val_timeout,test_timeout, val_optimal, test_optimal]:
    if col not in tab.columns:
        tab[col] = 0
    

tab[val_count] = tab[val_optimal] + tab[val_timeout]

tab[test_count] = tab[test_optimal] + tab[test_timeout]

tab[time_cols] = tab[time_cols]/60.0

In [26]:
es_col

'val/acc/all'

In [27]:
time_tab = tab.iloc[tab.groupby(skey)[es_col].idxmax().dropna()]

In [28]:
time_tab[time_tab['data'] == 'items_20'][['seed',skey]]

        seed                                         skey
2523  seed_0  binary.comboptnet.items_20.seed_0.version_2
1867  seed_0     binary.ilploss.items_20.seed_0.version_0

In [29]:
grpby_keys, grp_over

(['data', 'method'], ['seed'])

In [30]:
count_time = time_tab.groupby(grpby_keys)[grp_over[0]].count().to_frame()

In [31]:
count_time

                          seed
data          method
items_10      comboptnet     1
              ilploss        1
items_10_orig comboptnet     1
              ilploss        1
items_15      comboptnet     1
              ilploss        1
items_20      comboptnet     1
              ilploss        1
items_25      ilploss        1
items_30      ilploss        1
items_35      ilploss        1
items_40      ilploss        1
items_45      ilploss        1
items_50      ilploss        1

In [32]:
time_stats = time_tab.groupby(grpby_keys)[stat_cols+['epoch']].agg(['mean','std']).round(4)

In [33]:
count_time.columns = pd.MultiIndex.from_product([count_time.columns, ['count']])

In [34]:
time_stats_wcount = pd.concat([time_stats, count_time],axis=1)

In [35]:
grpby_keys

['data', 'method']

In [36]:
time_stats_pivot = pd.pivot_table(time_stats_wcount, index='method', columns=['data']).round(2)[[net_train_time, 'epoch','seed']]

In [38]:
time_stats_pivot[net_train_time]['mean'].astype(str)

data,items_10,items_10_orig,items_15,items_20,items_25,items_30,items_35,items_40,items_45,items_50
method,,,,,,,,,,
comboptnet,26.4,46.33,91.38,156.24,nan,nan,nan,nan,nan,nan
ilploss,32.33,20.14,43.78,112.08,161.58,102.2,104.13,73.49,98.93,117.93

In [37]:
time_stats_pivot[net_train_time]['mean'].astype(str) + '$\pm$' +  time_stats_pivot[net_train_time]['std'].astype(str)

KeyError: 'std'

In [39]:
time_stats_pivot['epoch']['mean'].astype(str)

data,items_10,items_10_orig,items_15,items_20,items_25,items_30,items_35,items_40,items_45,items_50
method,,,,,,,,,,
comboptnet,16.0,27.0,30.0,12.0,nan,nan,nan,nan,nan,nan
ilploss,695.0,431.0,863.0,2087.0,2815.0,1727.0,1527.0,959.0,1239.0,1303.0

In [ ]:
time_stats_pivot['epoch']['mean'].astype(str) + '$\pm$' +  time_stats_pivot['epoch']['std'].astype(str)

In [40]:
time_stats_pivot['seed']

              count                                                    \
data       items_10 items_10_orig items_15 items_20 items_25 items_30
method
comboptnet      1.0           1.0      1.0      1.0      NaN      NaN
ilploss         1.0           1.0      1.0      1.0      1.0      1.0


data       items_35 items_40 items_45 items_50
method
comboptnet      NaN      NaN      NaN      NaN
ilploss         1.0      1.0      1.0      1.0

In [41]:
#extract the relevant rows

In [42]:
event_list, test_only_list, version_list

(['test_epoch_end'], [0, 1], [])

In [43]:
tab[event].unique()

array(['val_epoch_end', 'test_epoch_end'], dtype=object)

In [44]:
tab['ver'].unique()

array(['version_0', 'version_2', 'version_4'], dtype=object)

In [45]:
test_tab.shape

NameError: name 'test_tab' is not defined

In [46]:
test_tab = tab
if len(event_list) > 0:
    test_tab = test_tab[(test_tab[event].isin(event_list))]

if len(test_only_list) > 0:
    test_tab = test_tab[(test_tab['test_only'].isin(test_only_list))]

if len(version_list) > 0:
    test_tab = test_tab[(test_tab['ver'].isin(version_list))]

In [47]:
#test_tab = tab[(tab[event].isin(event_list)) & (tab['test_only'].isin(test_only_list)) & (tab['ver'].isin(version_list))]

In [48]:
count_bf = test_tab.groupby(grpby_keys)[grp_over[0]].count().to_frame()

In [49]:
count_bf.shape

(10, 1)

In [50]:
count_bf

                          seed
data          method
items_10      comboptnet     1
              ilploss        1
items_10_orig comboptnet     1
              ilploss        1
items_15      comboptnet     1
              ilploss        1
items_20      comboptnet     1
              ilploss        1
items_25      ilploss        1
items_30      ilploss        1

In [51]:
if ((count_bf != expected_count).any().any()):
    print('Some exp. ran more than once. Please check. Picking the last one ...')

Some exp. ran more than once. Please check. Picking the last one ...

In [52]:
test_tab = test_tab.groupby(grpby_keys+grp_over).tail(1)

In [53]:
count = test_tab.groupby(grpby_keys)[grp_over[0]].count().to_frame()

In [54]:
assert (count == expected_count).all().all()

AssertionError:

In [55]:
count.columns = pd.MultiIndex.from_product([count.columns, ['count']])

In [56]:
stat_cols

['net_time/train',
 'total_time/train',
 'total_time/val',
 'epoch_time/test',
 'val/acc/all',
 'test/acc/all']

In [57]:
all_stats = test_tab.groupby(grpby_keys)[stat_cols].agg(['mean','std','min','max','median'])

In [58]:
all_stats = pd.concat([all_stats,count])

In [59]:
#stats = all_stats.transpose().round(4)

In [60]:
#test_stats = all_stats[[test_metric]].transpose().round(4)

In [61]:
#pd.pivot_table(time_stats, index='method', columns=['data']).round(2)[[net_train_time,total_train_time, 'epoch']]

In [62]:
all_stats_pivot = pd.pivot_table(all_stats, index='method', columns=['data'])

In [63]:
(100*all_stats_pivot[test_acc]['median']).round(2).astype(str)

data       items_10 items_10_orig items_15 items_20 items_25 items_30
method
comboptnet     62.4          64.8     46.0     27.8      nan      nan
ilploss        63.6          72.8     56.6     47.0     37.2     27.0

In [64]:
(100*all_stats_pivot[test_acc]['mean']).round(1).astype(str)

data       items_10 items_10_orig items_15 items_20 items_25 items_30
method
comboptnet     62.4          64.8     46.0     27.8      nan      nan
ilploss        63.6          72.8     56.6     47.0     37.2     27.0

In [ ]:
(100*all_stats_pivot[test_acc]['min']).round(2).astype(str) +'$\pm$' + (100*all_stats_pivot[test_acc]['max']).round(2).astype(str)

In [ ]:
import math

In [ ]:
(100*all_stats_pivot[test_acc]['mean']).round(1).astype(str) +'$\pm$' + ((100/math.sqrt(3))*all_stats_pivot[test_acc]['std']).round(1).astype(str)

In [ ]:
time_stats_pivot[net_train_time]['mean'].round(1).astype(str) + '$\pm$' +  (1.0/math.sqrt(3)*time_stats_pivot[net_train_time]['std']).round(1).astype(str)

In [65]:
time_stats_pivot[net_train_time]['mean'].round(1).astype(str)

data,items_10,items_10_orig,items_15,items_20,items_25,items_30,items_35,items_40,items_45,items_50
method,,,,,,,,,,
comboptnet,26.4,46.3,91.4,156.2,nan,nan,nan,nan,nan,nan
ilploss,32.3,20.1,43.8,112.1,161.6,102.2,104.1,73.5,98.9,117.9

In [ ]:
result = pd.concat([count.transpose(),stats,time_stats])

In [ ]:
test_result = pd.concat([count.transpose().droplevel('ver',axis=1),
                         test_stats.droplevel('ver',axis=1),
                         time_stats.droplevel('ver',axis=1)],axis=0)

In [ ]:
"""
test_result = pd.concat([count.transpose(),
                         test_stats,
                         time_stats],axis=0)
                         
"""

In [ ]:
grpby_keys

In [ ]:
test_result.transpose().groupby(grpby_keys[:-1]).tail(n=1).transpose()

In [ ]:
test_result.transpose()

In [ ]:
time_stats.droplevel('ver',axis=1)

In [ ]:
test_result